.main-login{
    background-color: var(--color2);
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 2em;
    
    h2{
        color: var(--color1);
    }
    input{
        background: none;
        border: 1px solid var(--color3);
        border-radius: 5px;
        padding: .5em;
    }
    button{
        &:hover{
            background-color: var(--color3);
            color: var(--color5);
        }
        transition: all .1s ease-in-out;
        background: none;
        border: 1px solid var(--color3);
        border-radius: .5em;
        padding: .5em;
        color: var(--color1)
    }
}